<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_img_page.css') }}">
</head>

<body>
    <div class="navbar">
        <div>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>

        <div class="marquee">
            <p>Selected Product Review Page</p>
        </div>

        <div>
            <a href="/">Home</a>
            <a href="#contact">Contact Us</a>
        </div>
    </div>

    <h1>Reviews for: {{ image_id.replace('_', ' ') }}</h1>

    <!-- Display the selected image -->
    <div class="image-display">
        <img src="{{ url_for('static', filename='images/' + image_id + '.jpg') }}" alt="{{ image_id }}">
    </div>

     <!-- Review Input Section -->
     <section id="forms-section" class="hidden">
        <!-- Text Form -->
        <form class="form-container text-form" action="{{ url_for('submit_review') }}" method="POST" enctype="multipart/form-data">
            <h2>Text Review</h2>
            <textarea id="single-text" name="single-text" rows="4" cols="50" placeholder="Enter your review..."></textarea><br><br>

            <input type="file" accept="csv/*" id="text-upload" name="text-upload"><br><br>

            <input type="hidden" name="pid-text" id="pid-text", value={{image_id}}> <!-- Hidden input for Product ID -->
            
            <input type="hidden" name="review_type" value="text">
            
            <button type="submit">Submit Review</button>
        </form>

        <!-- Audio Form -->
        <form class="form-container audio-form" action="{{ url_for('submit_review') }}" method="POST" enctype="multipart/form-data">
            <h2>Audio Review</h2>
            <input type="file" accept="audio/*" id="audio-upload" name="audio-upload"><br><br>
            
            <button type="button" id="record-audio" >Record Audio</button><br><br>
            <button type="button" id="stop-audio" disabled>Stop Recording</button><br><br>
            
            <audio id="audio-playback" controls></audio>
            
            <input type="hidden" name="pid-audio" id="pid-audio", value={{image_id}}> <!-- Hidden input for Product ID -->
            
            <input type="hidden" name="recorded-audio" id="recorded-audio">
            <input type="hidden" name="review_type" value="audio">
            
            <button type="submit">Submit Review</button>
        </form>

        <!-- Video Form -->
        <form class="form-container video-form" action="{{ url_for('submit_review') }}" method="POST" enctype="multipart/form-data">
            <h2>Video Review</h2>
            <input type="file" accept="video/*" id="video-upload" name="video-upload"><br><br>
            
            <button type="button" id="record-video">Record Video</button><br><br>
            
            <input type="hidden" name="pid-video" id="pid-video", value={{image_id}}>
            
            <input type="hidden" name="review_type" value="video">
            
            <button type="submit">Submit Review</button>
        </form>
    </section>

    <!-- Contact Us Section -->
    <div class="contact-info" id="contact">
        <h2>Contact Us</h2>
        <p>Email: zawarshaikh3@gmail.com</p>
    </div>
</body>

</html>
